body {
	line-height: 150%;
	font-size: 18px;
}


#github-logo {
    width: 53px;
    height: 53px;
}


#linkedin-logo {
    width: 53px;
    height: 53px;
}


#facebook-logo {
    width: 53px;
    height: 53px;
}

#twitter-logo {
    width: 53px;
    height: 53px;
}

#headshot {
    width: 250px;
    height: 250px;
    max-width: 100%;
}

#piano {
    width: 50px;
    height: 35px;
}

#bishop-chess {
    height: 35px;
}

#basketball-hoop {
    height: 35px;
}

#globe {
    height: 35px;
}

