body {
	line-height: 150%;
	font-size: 18px;
}

.link {
	text-decoration: none;
}

#github-logo {
    width: 53px;
    height: 53px;
}


#linkedin-logo {
    width: 53px;
    height: 53px;
}


#facebook-logo {
    width: 53px;
    height: 53px;
}

#twitter-logo {
    width: 53px;
    height: 53px;
}

